.flex {
    display: flex;
}

.column{
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.relative{
    position: relative;
}