// Colors
$clr1: #0f1518;
$clr2: #357157;
$clr3: #d9a255;
$clr-text: #fdffe8;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 1080px;
$normal-breakpoint: 88.3vw;

// Breakpoints for stay edit
$mobile-edit-breakpoint: 460px;
$narrow-edit-breakpoint: 1080px;
$normal-edit-breakpoint: 70vw;

$details-max-width: 600px;

// Margin
$m-top-reserve: 128px;
