.login-sec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;

    .image {
        background: linear-gradient(180deg, #3b4b80, #94b3cc);

        .main-title{
            font-size: 50px;
            font-weight: bolder;
        }

        .logo{
            width: 200px;
        }
    }

    .login-container {
        display: grid;
        place-content: center;
        background-color: #eff1f5;

        .login-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 30px;
            background-color: white;
            border-radius: 12px;
        }
    }
}
