.main-content-sec {
    padding-inline: 50px;
    margin-top: 50px;
    grid-area: main;
    width: 100%;

    .hamburger-btn{
        position: absolute;
        top: 0;
        left: 0;
        margin: 15px;
        transform: translateY(-250%);
    }

    .main-title {
        font-size: 2rem;
        font-weight: bolder;
    }

    .subtitle {
        margin-top: 10px;
        color: rgb(154, 154, 154);
        font-weight: bold;
    }

    .view-all {
        align-self: flex-end;
        width: max-content;
        font-weight: bold;
        padding: 7px 14px;
        border-radius: 3px;
        transition: 0.2s;

        &:hover {
            background-color: rgb(230, 230, 230);
        }
    }

    .hot-crypto-list {
        margin-top: 30px;
        gap: 10px;
    }

    .most-popular-sec {
        margin-top: 50px;

        .main-title {
            font-size: 1.7rem;
        }
        .little-cards-sec {
            margin-top: 30px;
            gap: 10px;
        }
    }
}
