*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    // font-family: Helvetica;
}

* {
    margin: 0;
    padding: 0;
}

input,
textarea,
button,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: inherit;
    font-size: 1rem;
}

button {
    cursor: pointer;
    border: 0;
    background-color: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

#root,
.App {
    min-height: 100vh;
    position: relative;
}

.loader {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    right: 50%;
}

.card {
    padding: 30px;
    background-color: white;
    border-radius: 12px;
}

.scending {
    color: rgb(100, 194, 100);
}

.descending {
    color: rgb(194, 100, 100);
}

.grid-center{
    display: grid;
    place-items: center;
}
