.crypto-card-sec{
    margin-bottom: 5px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
    padding-inline: 5px;
    padding-block: 5px;
    margin-inline-end: 5px;
    img{
        width: 30px;
        height: 30px;
    }
}