.hot-crypto-preview {
    min-width: 230px;
    padding: 30px 20px;
    // flex: 1;
    flex-basis: 32.5%;
    // background-color: #f8f8f8;
    background-color: white;
    border-radius: 8px;
    transition: background-color 0.3s;

    .upper-sec {
        margin-bottom: 20px;
        position: relative;

        button {
            position: absolute !important;
            top: 0;
            right: 5px;
            transform: translateX(10px);
            padding: 5px;

            .opt-icon {
                transition: 0.2s;
                font-size: 24px;

                &.mark {
                    color: #7422dd !important;
                }
            }

            &:hover .opt-icon {
                color: #7422dd !important;
            }
        }

        .icon-img {
            border-radius: 50%;
            background-color: #e5e6e9;
            padding: 10px;

            &.skeleton {
                width: 50px;
                height: 50px;
            }
        }

        .title-sec {
            margin-inline-start: 15px;

            .stock-title {
                font-size: 1.4rem;
                font-weight: bolder;
                text-transform: uppercase;

                &.skeleton {
                    height: 1.4rem;
                    width: 60px;
                    margin-bottom: 5px;
                }
            }

            .stock-subtitle {
                color: #858585;
                font-weight: 600;
                font-size: 1rem;


                &.skeleton {
                    height: 1rem;
                    width: 130%;
                }
            }
        }
    }

    .bottom-sec {
        height: 50%;
        gap: 20px;

        .graph {
            background-color: #f0f0f0;
            width: 75%;
            height: 50px;
        }

        .price-title {
            font-size: 1rem;
            &.skeleton {
                height: 1em;
                width: 70px;
                margin-bottom: 5px;
            }
        }

        .percent {
            &.skeleton {
                height: 1em;
                width: 35px;
            }
        }
    }

    &:hover {
        background-color: darken($color: #f8f8f8, $amount: 5);

        // background-color: #eee9f8;
    }
}
