.popular-crypto-preview {
    padding: 20px;
    // flex: 1;
    width: 24%;
    background-color: #f8f8f8;
    border-radius: 8px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #dcdcdc;
    }

    > * {
        margin-block: 5px;
    }

    .icon-img {
        border-radius: 50%;
        background-color: #e5e6e9;
        padding: 7px;

        &.skeleton {
            width: 45px;
            height: 45px;
            margin-bottom: 15px;
        }
    }

    .title-sec {
        align-items: center;
        gap: 5px;

        .stock-title {
            font-size: 1.1em;
            text-transform: uppercase;

            &.skeleton {
                width: 40%;
                height: 1.1em;
            }
        }

        .stock-subtitle {
            font-size: 0.9em;
            color: #7c7c7c;

            &.skeleton {
                width: 40%;
                height: 0.9em;
            }
        }
    }

    .price-title.skeleton {
        width: 50%;
        height: 0.9em;
    }
}
