.sidebar-section {
    position: relative;
    width: 300px;
    grid-area: sidebar;
    // display: flex;
    // flex-direction: column;

    .logo-container {
        padding: 50px 40px 0 40px;
        color: #7422dd;

        @media (max-width: 768px) {
            display: none;
        }

        .logo {
            font-size: 1.5em;
            padding-bottom: 40px;
        }
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;

        .sidebar-nav {
            padding-block: 30px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 90%;

            @media (max-width: 768px) {
                align-items: center;
            }

            .sidebar-nav-link {
                padding: 10px;
                font-size: 1em;
                display: flex;
                align-items: center;
                gap: 20px;
                transition: all 0.2s;
                border-radius: 5px;
                

                @media (max-width: 768px) {
                    display: flex;
                    align-items: center;
                    padding: 5px;
                }

                span {
                    text-transform: capitalize;
                    @media (max-width: 768px) {
                        display: none;
                    }
                }

                &:hover {
                    color: #7422dd;
                    background-color: #f6f5f9;
                    transform: translateY(-2px);
                }

                .link-icon {
                    font-size: em(26px, 16px);
                }

                &.active {
                    color: #7422dd;
                    font-weight: bold;
                    background-color: #eee9f8;
                    transform: none;
                    
                }
            }
        }
    }

    .user-container {
        padding-inline: 40px;
        position: fixed;
        bottom: 20px;
        // width: 300px;

        p {
            font-size: 1.1em;
            font-weight: bold;

            &.username {
                text-transform: capitalize;
                margin-bottom: 20px;
            }
        }

        button {
            border-radius: 10px;
            background-color: #7422dd;
            color: #e7defa;
            padding: 10px 30px;
            // width: 100%;
        }

        @media (max-width: 768px) {
            align-self: center;
        }
    }

    @media (max-width: 1200px) {
        width: 250px;
    }
    @media (max-width: 768px) {
        width: 70px;
    }
    @media (max-width: 500px) {
        width: 60px;
    }
}
