.array-container {
    display: flex;
    gap: 3px;

    .array-bar {
        width: 20px;
        background-color: blue;
        content: '';
        transition: background-color 0.3s ease-out;

        &.selected {
            background-color: red;
        }
        &.finish {
            background-color: rgb(0, 255, 30);
        }
    }
}

.actions {
    display: flex;
    gap: 10px;

    button {
        border-radius: 10px;
        padding: 10px;
        background-color: #3a44cd;
    }
}
